body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-size: 20px;
}

.logo {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}

h2, h3 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.image-container {
  width: 200px;
  height: 500px;
  margin-left: 60vh;
}

.image {
  width: 250%;
  height: 80vh;
}

.content-container {
  margin-left: 70px;
  margin-right: 50px;
}

@keyframes colorChange {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  50% { color: white; }
  75% { color: orange; }
  100% { color: purple; }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.card h4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.card img {
  width: 270px;
  height: 200px;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.typing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: colorChange 5s infinite;
  animation-delay: 3.2s;
}

.typing-text {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #000;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.button1, .button2, .button3, .button4 {
  height: 7vh;
  width: 15vh;
  border-radius: 5vh;
  color: white;
}

.button1 {
  background-color: #eb3f67;
}

.button2 {
  color: #000;
  background-color: #40e504;
}

.button3 {
  background-color: #000000;
}

.button4 {
  background-color: #3b1cd4;
}

.cv {
  height: 9vh;
  width: 10vh;
  border-radius: 5vh;
}

.form {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form h2 {
  margin-top: 0;
  color: #000;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form input, .container form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form form button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form form button:hover {
  background-color: #218838;
}

.download-cv {
  margin-bottom: 20px;
  text-align: center;
}

.download-cv button {
  padding: 10px 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10vh;
  cursor: pointer;
}

.download-cv button:hover {
  background-color: #0fb300;
}

@media (max-width: 992px) {
  .logo{
    margin-left: 10vh;
  }
  .typing-text{
    margin-left: 10vh;
    margin-top: 25vh;
  }
  .about{
    font-size: 2.5em;
    margin-left: 10vh;
  }
  .content-container {
    margin-left: 30px;
    margin-right: 20px;
  }
  .image {
    width: 145vh;
    height: 100vh;
    margin-left:-60vh;
  }
  .image-container{
    height: auto;
  }
  .lang{
    font-size: 2em;
    margin-left: 15vh;
  }
  .card-container{
    margin-left:12vh;
  }
  .social1{
    display: flex;
  }
}

@media (max-width: 768px) {
  .logo{
    width: 167vh;
    height: 100vh;
  }
  .typing-text {
    font-size: 8vh;
    margin-left: 30vh;
  }
  .about{
    font-size: 7vh;
    margin-left: 30vh;
  }
  .image-container {
    width: 85vh;
    height: auto;
    margin-left:-3vh;
  }
  .content-container {
    margin-left: 20px;
    margin-right: 10px;
  }
  .image {
    height: 130vh;
  }
  .aboutp{
    margin-left: 10vh;
  }
  .lang{
    margin-left: 35vh;
  }
  .card-container{
    display: block;
    margin-left: 30vh;
  }
  .social1{
    width: 90vh;
    display: flex;
  }
  .formp{
    margin-left: 25vh;
  }
  .cv{
    margin-left: 25vh;
  }
  .form{
    margin-left: 20vh;
  }
}

@media (max-width: 576px) {
  .logo{
    width:112vh;
    height: 90vh;
  }
  .typing-text {
    font-size:5vh;
    width:120vh;
    margin-left: 5vh;
  }
  .image-container {
    width: 100%;
    height: auto;
    margin-left:3vh;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .content-container {
    margin-left: 10px;
    /* margin-right: 10px; */
  }
  .aboutp{
    margin-left: 3vh;
  }
  .lang{
    margin-left: 5vh;
  }
  .card-container{
    display: block;
    margin-left: 10vh;
  }
  .social1{
    display: flex;
  }
  .form {
    margin-left:-0.5vh;
    /* margin-right: 10px; */
  }
  .formp{
    margin-left: 2vh;
  }
  .cv {
    height: 10vh;
    width: 9vh;
  }
  .button1, .button2, .button3, .button4 {
    height: 10vh;
    width: 20vh;
  }
}

@media (max-width: 375px) {
  .logo{
    width:68vh
  }
  .typing-text {
    font-size: 3.2vh;
    margin-left: 1vh;
    margin-top: 15vh;
  }
  .about{
    margin-left: 2vh;
    margin-top: 10vh;
  }
  .image-container{
    margin-left: 1vh;
    width: 65vh;
  }
  .aboutp{
    margin-left: 1vh
  }
  .lang{
    margin-left: 2vh
  }
  .card-container{
    display: block;
    margin-left: 1vh;
  }
  .button1, .button2, .button3, .button4 {
    height: 9vh;
    width: 20vh;
  }
  .cv {
    height: 8vh;
    width: 9vh;
    margin-left: 2vh;
  }
  .formp {
    /* padding: 75px; */
    margin-left: 4vh;
  }
  .form{
    width:55vh
  }
  .social1{
    display: flex;
    margin-left:-3vh;
  }
}
